<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>BESOIN D'AIDE ?</h3>
                    <ul>
                        <li> <a href="{{ path('contact') }}"> Contacts </a> </li>
                        <li> <a href="{{ path('plans') }}"> Plan des deux stades </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> SPONSORS </h3>
                    <ul>
                        <li> <a href="http://www.saintcloud.fr/" target="_blank"> La ville de Saint-Cloud </a> </li>
                        <li> <a href="http://www.srbg.fr/" target="_blank"> SRBG </a> </li>
                        <li> <a href="https://www.afdb.fr/" target="_blank"> AFDB </a> </li>
                        <li> <a href="https://www.creditmutuel.fr" target="_blank"> Credit Mutuel </a> </li>
                        <li> <a href="http://www.hauts-de-seine.fr/" target="_blank"> Haut de seine </a> </li>
                        <li> <a href="https://www.atout-terrain.com/fr/" target="_blank"> Atout Terrain </a> </li>
                        <li> <a href="https://www.conservateur.fr/" target="_blank"> Le Conservateur </a> </li>
                        <li> <a href="http://lecomptoirdesaintcloud.fr/" target="_blank"> Le comptoire de Saint-Cloud </a> </li>
                        <li> <a href="http://www.adroma.fr" target="_blank"> Adorma </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> LIENS ANNEXES </h3>
                    <ul>
                        <li> <a href="https://district-foot92.fff.fr/ "> Site du district</a> </li>
                        <li> <a href="https://www.fff.fr "> Site de la FFF </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> SUIVEZ-NOUS </h3>
                    <ul class="social">
                        <li class = "icoFacebook"> <a href="https://www.facebook.com/fcstcloud/" target="_blank"> <i class="fa fa-facebook">   </i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"> Copyright © FCSC 2018. Tous droits reservés. Réalisé par Delamare Médéric</p>
        </div>
    </div>
</footer>