{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Secrétariat</li>
    </ol>
    <div class="container">
        <div class="row">
            <h1 class="page-header">Secrétariat</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="{{ asset('pictures/secretariat.png') }}">
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 class="text-bold"><strong>Le secretariat vous accueille : lundi mercredi et vendredi  8h30 à 12h et
                        de 13h30 à 15h.</strong></h3>
                <h3><strong>Tel : <a href="tel:0146020524">0146020524</a> </strong></h3>
                <h3><strong>Mail : <a
                                href="mailto:secretariat.fcsaintcloud@gmail.com">secretariat.fcsaintcloud@gmail.com</a> </strong>
                </h3>
                </p>
            </div>
        </div>
    </div>
{% endblock %}